.button {
  background: var(--s9);
  box-shadow: var(--button-3d-pulled);
  border: 2px solid var(--n6);
  padding: 7px 14px;
  font-family: var(--font-primary);
  color: var(--p1);
  display: grid;
  justify-content: center;
}

.button:hover {
  background: var(--s10);
}

.button:focus {
  border: 2px dotted var(--n6);
  outline: none;
}
