.projects {
  background: url("../../../assets//distorted_grid.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  min-width: 600px;
}
.projectsContainer {
  padding: 3.75rem 0px;
}

.projectsContainer > h2 {
  margin-bottom: 7.5rem;
}

.projectsIconContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  place-items: center;
  gap: 5rem;
  padding: 0px 3.75rem;
}

@media screen and (width < 600px) {
  .projects {
    min-width: 250px;
  }

  .projectsContainer > h2 {
    margin-bottom: 3.75rem;
  }

  .projectsIconContent {
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    padding: 0px;
  }
}
