.photoContainer {
  flex-shrink: 0;
  width: 24rem;
  aspect-ratio: 1/1;
  align-content: center;
  justify-items: center;
  background: url("../../../assets/PhotoFrame.svg");
  background-size: cover;
  filter: drop-shadow(-8px 8px 2px  #0000001a);
  position: relative;
}

.photo {
  display: block;
  width: 95%;
  aspect-ratio: 1/1;
}

.photoContainer::before {
  content: "";
  display: block;
  width: 5rem;
  aspect-ratio: 1/1;
  background: url("../../../assets/Star.svg") center center no-repeat;
  background-size: cover;
  bottom: 1rem;
  left: 0.1rem;
  transform: rotate(15deg);
  position: absolute;
}

.photoContainer::after {
  content: "";
  display: block;
  width: 3.125rem;
  aspect-ratio: 1/1;
  background: url("../../../assets/Star-Dark.svg") center center no-repeat;
  background-size: cover;
  top: 2rem;
  right: 1.75rem;
  transform: rotate(-15deg);
  position: absolute;
}

@media screen and (width < 600px) {
  .photoContainer {
    order: initial;
  }
}
