.title {
  flex-grow: 1;
}
.firstLine {
  font-size: 3.25rem;
  line-height: 1.23;
  color: var(--p5);
  font-family: var(--font-primary);
  font-weight: bold;
}
.secondLine {
  font-size: 7.25rem;
  color: var(--p2);
  font-family: var(--font-primary);
  font-weight: bolder;
}

@media screen and (width < 1000px) {
  .title {
    flex-grow: 0;
  }
}